:root {
    --mainbg: linear-gradient(90deg, rgb(34, 31, 31) 40%, rgb(11, 11, 11) 200%);
    --maintext: #EF592D;
    --sectex: #d8d0d0;
    --border: 1px solid #F9EAD7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

html {
    scroll-padding-top: 50px; /* Ajuste o valor conforme a altura da sua navbar */
}

body {
    background: var(--mainbg);
}

section {
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 20px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    height: 80px;
    background-color: #161616;
}


.navbar {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 30px;
}

.navbar a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--sectex);
    letter-spacing: 0.2rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    margin: 8px;
    transition: opacity .35s ease-in-out;
    margin: 0 30px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 0;
    height: 2px;
    background-color: var(--maintext);
    transition: width 0.5s ease;
}

.navbar a:hover::after {
    width: 100%;
}

.navbar a:hover {
    opacity: 0.6;
}

section .about {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    margin-top: -60px;
}

.main-container {
    display: flex;
    margin-bottom: 50px;
    margin-top: 200px;
}

.main-container-left {
    flex: 1;
    margin: 14px 0 0 60px;
    max-width: 700px;
}

.main-container-rigth {
    flex: 1;
    margin-top: 14px;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-left-title {
    display: flex;
    align-items: center;

}

.main-container-rigth img {
    max-width: 100%;
    height: 360px;
    border-radius: 50%;
    margin-top: 60px;
}

.title {
    color: var(--maintext);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    font-weight: 400;
    letter-spacing: .5rem;
    text-transform: uppercase;
}

.main-container-left p {
    max-width: 100%;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    margin-top: 20px;
    color: var(--sectex);
}

.skills {
margin-top: 220px;
}

#about, #skills {
    margin-bottom: 100px;
}

/*Skills individuais, caixinhas*/
.skill1,
.skill2,
.skill3,
.skill4,
.skill5,
.skill6,
.skill7,
.skill8 {
    padding: 10px;
}

.box-skills {
    display: flex;
    gap: 20px;
    padding: 1rem;
    border-radius: 5px;
}

.box-skill1,
.box-skill2,
.box-skill3,
.box-skill4,
.box-skill5,
.box-skill6,
.box-skill7,
.box-skill8 {
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    margin: 10px;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #252525;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.box-skill1 h1,
.box-skill2 h1,
.box-skill3 h1,
.box-skill4 h1,
.box-skill5 h1,
.box-skill6 h1,
.box-skill7 h1,
.box-skill8 h1 {
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 20px;
}

.box-skill1 h1 {
    background: linear-gradient(to right, #E44D26, rgba(241, 101, 41, 0.5));
    font-size: 15px;
}

.box-skill2 h1 {
    background: linear-gradient(to right, #1572B6, #33A9DC);
    font-size: 15px;
}

.box-skill3 h1 {
    background: linear-gradient(to right, #a19757, #F1DB4F);
    font-size: 15px;
}

.box-skill4 h1 {
    background: linear-gradient(to right, #61DAFB, #48cdf3);
    font-size: 15px;
}

.box-skill5 h1 {
    background: linear-gradient(to right, #40873F, #5FB047);
    font-size: 15px;
}

.box-skill6 h1 {
    background: linear-gradient(to right, #424242, #3a3838);
    font-size: 15px;
}

.box-skill7 h1 {
    background: linear-gradient(to right, #409433, #60B24F);
    font-size: 15px;
}

.box-skill8 h1 {
    background: linear-gradient(to right, #00C4CC, #00C4CC);
    font-size: 15px;
}

.box-skills img {
    width: 50px;
    margin-top: -15px;
}

.skill6 img {
    filter: invert(100%);
}

.skills h2 {
    color: var(--sectex);
    /*nome skills*/
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}

.swiper-wrapper .swiper-slide {
    color: var(--sectex);
    user-select: none;
    padding: 35px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-top: 20px;
}

.projects h2 {
    color: var(--sectex);
    /*nome projeto*/
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    letter-spacing: .1rem;
}

.swiper-wrapper .swiper-slide:hover {
    transform: scale(97%);
    opacity: 0.8;
}

.swiper-wrapper .swiper-slide .project-img {
    height: 170px;
    width: 300px;
    margin: 20px;
}

.slider-wrapper .swiper-slide-button {
    color: var(--maintext);
    margin-top: -50px;
}

.slider-wrapper .swiper-slide-button:hover {
    opacity: 0.7;
}

.slider-wrapper .swiper-slide-button:active {
    opacity: 0.5;
}

.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }

section .contact {
    display: flex;
    flex-direction: column;
}

.box-contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box-contact-email {
    display: flex;
flex-direction: row;
justify-content: center;

}

.btn-copy {
    display: flex;
    align-items: center;
}

.box-contact img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    transition: opacity 1s ease-in-out;
    margin: 10px;
    cursor: pointer;
}

.contact p {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: var(--sectex);
}

.btn-copy {
    cursor: pointer;
}

.btn-copy:hover {
    transform: translateY(-2px);
    transition: 0.3 ease-in-out;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: #161616;
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: var(--sectex);
    font-family: 700;
}

footer h1 {
    color: var(--sectex);
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
}

.contact-icon {
    display: flex;
    justify-content: center;
    font-size: 34px;
    transition: 0.5s;
    padding: 0;
}

.contact-icon a {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.contact-icon i {
    font-size: 20px;
    color: var(--sectex);
    transition: color 0.3s ease;
}

.contact-icon a:hover {
    transform: translateY(-5px);
    transition: 0.3 ease-in-out;
    background-color: var(--maintext);
}

.contact-icon a:hover i {
    color: var(--sectex);
}

#about, #skills, #projects {
    padding-top: 60px;
    margin-top: -60px;
    margin-bottom: 80px;
}
